apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "model-manager-loader.fullname" . }}
  labels:
    {{- include "model-manager-loader.labels" . | nindent 4 }}
data:
  config.yaml: |
    objectStore:
      s3:
        endpointUrl: {{ .Values.global.objectStore.s3.endpointUrl }}
        region: {{ .Values.global.objectStore.s3.region }}
        bucket: {{ .Values.global.objectStore.s3.bucket }}
        pathPrefix: {{ .Values.objectStore.s3.pathPrefix }}
        baseModelPathPrefix: {{ .Values.objectStore.s3.baseModelPathPrefix }}
    downloader:
      kind: {{ .Values.downloader.kind }}
      s3:
        endpointUrl: {{ .Values.downloader.s3.endpointUrl }}
        region: {{ .Values.downloader.s3.region }}
        bucket: {{ .Values.downloader.s3.bucket }}
        pathPrefix: {{ .Values.downloader.s3.pathPrefix }}
      huggingFace:
        cacheDir: {{ .Values.downloader.huggingFace.cacheDir }}
    baseModels:
    {{- range .Values.baseModels }}
    - {{ . }}
    {{- end }}
    modelLoadInterval: {{ .Values.modelLoadInterval }}
    runOnce: {{ .Values.runOnce }}
    modelManagerWorkerServiceServerAddr: {{ .Values.modelManagerWorkerServiceServerAddr }}
    worker:
      tls:
        enable: {{ .Values.global.worker.tls.enable }}
